.items-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into rows */
    gap: 0.5rem; /* Space between items */
    justify-content: space-between;
}

.name-container {
    margin-top: 1.5rem;
}

.product-item {
    padding: 1rem;
    text-align: center;
    height: 25rem;
    background: linear-gradient(to bottom, #fafafa, white 10%);
    border-radius: 7px;
    border: rgba(0, 0, 0, 0.12) solid 1px;
    flex: 1 1 100%; /* Default for extra small (xs) devices, takes full width */
    max-width: calc(100%); /* ensure that items in last row are the same width as in above rows */
}

@media (min-width: 768px) {
    .product-item {
        flex: 1 1 calc(50% - 0.5rem); /* Two items per row */
        max-width: calc(50% - 0.5rem); /* ensure that items in last row are the same width as in above rows */
    }
}

@media (min-width: 992px) {
    .name-container {
        margin-top: 0.7rem;
    }
}


@media (min-width: 1200px) {
    #number-products{
        margin-left: 0;
        margin-right: 1rem;
    }

    .product-item {
        flex: 1 1 calc(33.33% - 0.5rem); /* Four items per row */
        max-width: calc(33.33% - 0.5rem); /* ensure that items in last row are the same width as in above rows */
    }
}
