.form-submit-div{
    display: flex;
    justify-content: center;
}

.form-submit-button{
    background-color: var(--product-font-color);
    border: 2px solid var(--product-font-color);
}

.form-submit-button:hover{
    border: 2px solid var(--in-stock-font-color);
    background-color: var(--product-font-color);
}

.spinner{
    color: var(--product-font-color);
}