.product-item{
    padding: 1rem;
    text-align: center;
    background: linear-gradient(to bottom, #eeeeee, white 10%);
    border-radius: 7px;
    border: rgba(0, 0, 0, 0.12) solid 1px;
}

.product-image{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.product-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--product-font-color);
}

.product-name-link{
    text-decoration: none; /* Underline the text */
}

.product-name-link:hover .product-name {
    text-decoration: underline;
    text-decoration-color: var(--product-font-color);
}

.product-description{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.price-cart-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-price {
    white-space: nowrap;
    font-size: 1.5rem;   /* Slightly larger than regular text */
    font-weight: 700;     /* Medium font weight for a moderate emphasis */
    color: var(--product-price-font-color);
}


.button-icon {
    width: 1.2rem;                 /* Set the width of the icon */
    height: 1.2rem;                /* Set the height of the icon */
    margin-right: 0.5rem;        /* Space between icon and text */
}

@media (min-width: 576px) {
    .price-cart-wrapper{
        flex-direction: column;
        gap: 0.7rem;
    }

    .product-description{
        margin-bottom: 1rem;
    }
}

.product-footer{
    background-color: white;
    font-weight: 500;
}
.product-footer.in-stock{
    color: var(--in-stock-font-color);
}

.product-footer.out-stock{
    color: var(--out-stock-font-color);
}