.login-container {
    /*background: linear-gradient(to bottom, #d5eeff, 50%, white 60%);*/
    /*padding: 20px;
    border-radius: 0.5rem;
    position: absolute;
    transform: translateY(15%);
    margin: auto;*/
}
.log-reg-link {
    color: var(--out-stock-font-color);
}
.log-reg-link:hover {
    color: var(--product-font-color);
}