.login-container {
    /*background: linear-gradient(to bottom, #d5eeff, 50%, white 60%);*/
    /*padding: 20px;
    border-radius: 0.5rem;
    position: absolute;
    transform: translateY(15%);
    margin: auto;*/
}