.side-bar-container {
    display: flex;
    flex-direction: column; /* Default to a column layout */
    background-color: #f9f9f9;  /* Light gray background */
    margin-top: 0.5rem;
}

.category-item {
    flex: 1;
    cursor: pointer;
    border-radius: 5px;         /* Rounded corners */
    border: rgba(0, 0, 0, 0.05) solid 1px;
    min-height: fit-content;
}



.my-link {
    text-decoration: none; /* Underline the text */
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}

.category-item:hover {
    background: linear-gradient(to right, #eeeeee, white 30%);
    text-decoration: underline;
}
.category-item:hover .my-link {
    text-decoration: underline;
}

/* When the viewport is small (sm) */
@media (min-width: 576px) {
    .side-bar-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; /* Allow items to wrap */
    }

    .category-item {
        flex: 1 0 45%; /* Two columns */
        margin-top: 0;
    }
}

/* When the viewport is medium (md) */
@media (min-width: 992px) {
    .side-bar-container {
        display: flex; /* Reset to default display for md */
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
        border-right: rgba(0, 0, 0, 0.12) solid 1px;
        border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
        padding-top: 0.5rem;
    }

    .category-item {
        flex: 1;
        margin: 0;
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: rgba(0, 0, 0, 0.05) solid 1px;
        max-height: 3rem;
    }
}
