:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --product-font-color: #113f67;
  --in-stock-font-color: #388e3c;
  --add-to-cart-background-color: #8cba51;
  --add-to-cart-background-color-hover: #388e3c;
  --product-price-font-color: #ff5959;
  --out-stock-font-color: #63686e;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-size: cover;
  background: linear-gradient(to bottom, white, 8%, #d5eeff 10%) no-repeat;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;"
}

@media (min-width: 768px) {
  body {
    background-size: cover;
    background: linear-gradient(to bottom, white, 15%, #d5eeff 20%) no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;"
  }
}

@media (min-width: 1200px) {
  body {
    background-size: cover;
    background: linear-gradient(to bottom, white, 20%, #d5eeff 25%) no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;"
  }
}


